.box{
    display: inline-block;
    width: 100px;
    height: 100px;
    border: 2PX solid red;
    margin: 10px;
}
.box-1{
    background-color: red;
}
.box-2{
    background-color: green;
}
.box-3{
    background-color: blue;
}
.box-4{
    background-color: yellow;
}
